files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/02_upgrade_pip.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      python3 -m pip install --upgrade pip
      pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
      python -m nltk.downloader stopwords
      python -m nltk.downloader universal_tagset
      python -m spacy download en # download the english model
      pip install git+https://github.com/boudinfl/pke.git
