files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/03_download_spacy.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      python -m nltk.downloader stopwords
      python -m nltk.downloader universal_tagset
      python -m spacy download en # download the english model