files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/04_download_spacy.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #python3 -m pip install git+https://github.com/boudinfl/pke.git
      #python3 -m nltk.downloader stopwords
      #python3 -m nltk.downloader universal_tagset
      #python3 -m pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
      #python3 -m spacy download en # download the english model